.featured{
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 5px;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    -moz-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
}

.featuredTitle{
    font-size: 28px;
}

.featuredcontainer{

    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredTemp{
    font-size: 30px;
    font-weight: 600;
}

.featuredIconHumidity{
    margin-left: 5px;
    font-size: 30px;
    color:#0a4dca;
}

.featuredIconTemp{
    margin-left: 5px;
    font-size: 30px;
    color:crimson;
}

.featuredIconSurfTemp{
    margin-left: 5px;
    font-size: 24px;
    color:crimson;
}

.featuredIconPressure{
    margin-left: 5px;
    font-size: 24px;
    color:green;
}