.resisInfo{
    flex:1;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.resisInfoItem{
    
    flex: 1;
    margin: 20px 20px 20px;
    padding: 25px;
    border-radius: 5px;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    -moz-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
}

.resisInfoTitle{
    font-size: 28px;
}

.resisInfoIconTemp{
    margin-left: 5px;
    font-size: 30px;
    color:crimson;
}

.resisInfocontainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.resisInfoResistance{
    font-size: 30px;
    font-weight: 600;
}