.fanPump{
    width:fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    
    -webkit-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    -moz-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
}

.fanPumpContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: left;
    margin-top: 5px;
    padding: 10px;
}

.switchTitle{
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}

.fanPumpSwitch{
    display: flex;
    margin-left: 60px;
    justify-content:space-between;
}


