.inputControl{
    width:100%;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px;
    padding: 20px;
    border-radius: 5px;
    
    -webkit-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    -moz-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
}

.inputControlContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: left;
    margin-top: 5px;
    padding: 5px;
}

.switchTitle{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.inputControlSwitch{
    display: flex;
    margin-left: 50px;
    justify-content:space-between;
}
.inputFlowRate{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}
.inputFlowRate>label{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}
.inputform{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;

}
.inputControl>h1 {
    font-size: 24px;
    text-align:center;
}

.mfc{
    font-size: 24px;
}