.inputWidget{
    flex:1;
    margin: 20px 20px 20px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    -moz-box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
    box-shadow: 5px 5px 20px 5px rgba(217,217,217,1);
}
.inputform{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;

}


.inputItem{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 10px;
}

.inputItem>label{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.initialInputs{
    border:none;
    width:auto;
    height: 30px;
    border-bottom: 1px solid grey;

}

.setValuesBtn{
    
    align-self: last baseline;
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(202, 169, 233);
    font-weight: 600;
    font-size: 16px;

}

.resisInfoItem{
    
    flex: 1;
    margin: 20px 20px 20px;
    padding: 25px;
    border-radius: 5px;
    justify-content: space-around;
}

.resisInfoTitle{
    font-size: 28px;
}

.resisInfoIconTemp{
    margin-left: 5px;
    font-size: 30px;
    color:crimson;
}

.resisInfocontainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.resisInfoResistance{
    font-size: 30px;
    font-weight: 600;
}

.resisInfo{
    flex:1;
    width:100%;
    display: flex;
    justify-content: space-between;
}