.analytics{
    flex:5;
    padding: 20px;
}

.graphs{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.graphs>h1{

    display: flex;
    text-align: center;
}